* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav {
  height: 80px;
  background: #C6AF97;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc((100vw - 1300px) / 2);
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle shade */
}

nav::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #8B4513;
}

.logo {
  padding: 0 2rem;
}

.logo img {
  width: 125px;
  height: auto;
}

nav a {
  text-decoration: none;
  color: #8B4513;
  padding: 0 1.5rem;
  transition: color 0.3s ease; /* Add a transition for smooth color change */
}

nav a:hover {
  color: #DAD1BC;
  animation: bounce 0.5s ease; /* Add animation effect when hovering */
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.bg {
  background: #DAD1BC;
}

.bg-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  padding: 3rem calc((100vw - 1300px) / 2);
  transition: background-color 0.3s ease; /* Add transition for background color change */
}

.column-left,
.column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #8B4513;
  padding: 0 2rem;
}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.column-left p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.profile-picture {
  width: 500px; /* Adjust the width as per your preference */
  height: 500px; /* Adjust the height as per your preference */
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-left: auto;
  margin-right: 20px;
  opacity: 0; /* Initially set opacity to 0 */
  transition: opacity 1.5s ease; /* Add transition for opacity change */
}

.profile-picture.loaded {
  opacity: 1; /* Change opacity to 1 when loaded */
}






/* Add this CSS rule for button container */
.button-container {
  display: flex;
  gap: 10px; /* Adjust the gap between buttons as needed */
  margin-top: 20px; /* Adjust the top margin as needed */
}

/* Add or modify these rules for button styling */
.button-container button {
  padding: 10px 20px;
  background-color: #8B4513;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #D2B48C;
}

@media screen and (max-width: 768px) {
  .bg-container {
    grid-template-columns: 1fr;
  }

  .button-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .button-container button:last-child {
    margin-left: 0;
    margin-top: 10px;
  }
}
