* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
  height: 80px;
  background: #C6AF97;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc((100vw - 1300px) / 2);
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle shade */
}

nav::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #8B4513;
}

.logo {
  padding: 0 2rem;
}

.logo img {
  width: 125px;
  height: auto;
}

nav a {
  text-decoration: none;
  color: #8B4513;
  padding: 0 1.5rem;
  transition: color 0.3s ease; /* Add a transition for smooth color change */
}

nav a:hover {
  color: #DAD1BC;
  animation: bounce 0.5s ease; /* Add animation effect when hovering */
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.bg {
  background: #DAD1BC;
}

.bg-container {
  display: flex;
  flex-direction: column;
  height: 93vh;
  padding: 3rem calc((100vw - 1300px) / 2);
}

.bg-container h1 {
  color: #8B4513; /* Set text color */
  text-align: center; /* Center the text */
  margin-top: auto; /* Push the h1 to the upper middle */
  margin-bottom: auto; /* Align h1 vertically */
}



.skills-container {
  max-width: 1200px; /* Increase the max-width as needed */
  margin: 0 auto; /* Center the container horizontally */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
}


.skill-item {
  background-color: #FFF8DC;
  padding: 20px;
  border: 2px solid #8B4513;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  color: #8B4513;
  animation: fadeInUp 1.5s ease forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.skill-item img {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
}

.progress-bar {
  position: relative;
}

.progress-bar span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F4F4F4;
  font-size: 14px;
  font-weight: bold;
}

.graph-bar {
  height: 20px;
  margin-right: 10px;
  border-radius: 10px;
}

.graph-bar-html {
  background-color: #8B4513;
  width: 100%;
}

.graph-bar-css {
  background-color: #8B4513;
  width: 100%;
}

.graph-bar-php {
  background-color: #8B4513;
  width: 100%;
}

.graph-bar-js {
  background-color: #8B4513;
  width: 100%;
}

.graph-bar-sql {
  background-color: #8B4513;
  width: 100%;
}

.graph-bar-java {
  background-color: #8B4513;
  width: 100%;
}

.graph-bar-cpp {
  background-color: #8B4513;
  width: 100%;
}

.graph-bar-python {
  background-color: #8B4513;
  width: 100%;
}

/* Add icon styles */
.skill-item img {
  width: 200px; /* Adjust size as needed */
  height: 200px; /* Adjust size as needed */
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column; /* Change flex direction to column for smaller screens */
    align-items: flex-start; /* Align items to the start of the column */
    padding: 1rem; /* Add padding for spacing on smaller screens */
  }

  nav div {
    margin-top: 1rem; /* Add margin between navigation items */
  }

  .logo {
    margin-bottom: 1rem; /* Add margin below the logo */
  }
  .bg-container {
    padding: 2rem; /* Adjust padding for smaller screens */
  }

  .skills-container {
    grid-template-columns: repeat(2, 1fr); /* Display 2 columns on smaller screens */
  }

  .skill-item {
    width: 100%; /* Make skill items take full width on smaller screens */
  }

  .skill-item img {
    width: 100px; /* Adjust size of icons for smaller screens */
    height: 100px; /* Adjust size of icons for smaller screens */
  }
}